<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--        configure the datasource-->
        <property name="hibernate.connection.url">jdbc:postgresql://revature-project-zero-ratul.cmmxomlq8jfg.us-east-1.rds.amazonaws.com/project1</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">MOcha132##</property>

        <!--        driver spec-->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->

        <!--        mappings-->
        <mapping class="com.ers.models.Employee"/>
        <mapping class="com.ers.models.Manager"/>
        <mapping class="com.ers.models.Reimbursement"/>
    </session-factory>
</hibernate-configuration>